name: release-dev-back

on:
  push:
    branches:
      - main
    paths:
      - 'dev/back/**'

env:
  IMAGE_NAME: demo-back
  TAG: v0.1.1-dev
  REGISTRY: ghcr.io
  ORG: organization-demo-task

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: |
          docker build \
            -t $REGISTRY/$ORG/$IMAGE_NAME:$TAG \
            dev/back

      - name: Push image
        run: |
          docker push $REGISTRY/$ORG/$IMAGE_NAME:$TAG
